{% extends "layout.html" %}
{% block title %}
    Online messaging service
{% endblock %}
{% block body %}

	<script>
	//var d=new Date();
	document.addEventListener('DOMContentLoaded', () => {
    // Connect to websocket
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
    // When connected
    socket.on('connect', () => {
		//socket.send(' I\'m connected');
    });
	
	document.querySelector('#sendbutton').onclick = () => {
		msg=document.querySelector('#myMessage').value;
		var d = new Date();
		usr=document.querySelector('#usr').value;
		y=d.getFullYear();
		if(d.getMonth()<9)
			mo="0"+(d.getMonth()+1);
		else
			mo=(d.getMonth()+1);
			
		if(d.getDate()<10)
			dy="0"+d.getDate();
		else		
			dy=d.getDate();
		if(d.getHours()<10)
			h="0"+d.getHours();
		else
			h=d.getHours();
			
		if(d.getMinutes()<10)
			m="0"+d.getMinutes();
		else
			m=d.getMinutes();
			
		if(d.getSeconds()<10)
			s="0"+d.getSeconds();
		else
			s=d.getSeconds();
			
		msg=y+ "-" + mo + "-" + dy+ " " + h+ ":" + m + ":" + s + " " + usr + ": "+msg;
         socket.emit('message', msg );
    };

    // Message is anounced, add to the unordered list
		socket.on('message', mes => {
		const li = document.createElement('li');
		li.innerHTML = '<img src="/static/star.jpg"> ' +mes;
		document.querySelector('#messages').append(li);
    });
   });
	</script>
	<div id="ifr">
		<div id="fr">
			<ul id="messages">
				{% for ms in msgs %}
					<li><img src="/static/star_s.jpg">&nbsp;{{ ms }}</li>
				{% endfor %}
			</ul>
		</div>
		<div id="mes">
			<input text class="form-control" name="name" id="myMessage" placeholder="Message">
		</div>
		<div id="bt">
			<button class="btn btn-primary" id="sendbutton">Send</button>
		</div>
			<input type="hidden" id="usr" value="{{session["name"]}}">
		</div>
	</div>
{% endblock %}
