{% extends "layout.html" %}

{% block title %}
    Dele message
{% endblock %}

{% block body %}
	<table border="1"><tr bgcolor="yellow"><td width="460" align="center"> Messages </td><td align="center">&nbsp;&nbsp; Delete  message &nbsp;&nbsp;</td></tr>
        {% for mes in mess %}
			<tr>
			 <td>				
				{{ mes }}
			 </td>
			 <td align="center">				
				<a href="{{ url_for('dele_mes_v', mes=mes) }}">
                   Delete
                </a>
			 </td>				
            </tr>
        {% endfor %}
    </table>

{% endblock %}
