{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block body %}
	<table border="1"><tr bgcolor="yellow"><td align="center"> Book <br> Details </td><td align="center"> Good <br> reads </td><td align="center"> &nbsp;&nbsp;API&nbsp;&nbsp; </td><td align="center"> Book </td><td align="center"> Review <br> Book </td></tr>
        {% for book in books %}
			<tr>
			 <td align="center">
                <a href="{{ url_for('book', book_id=book.book_id) }}">
                   View
                </a>
			 </td>
			 <td align="center">
				<a href="{{ url_for('goodreads', isbn=book.isbn) }}">
                   View
                </a>
			 </td align="center">
			 <td align="center">				
				<a href="{{ url_for('api', book_id=book.book_id) }}">
                   View
                </a>
			 </td>
			 <td>				
				{{ book.isbn }} - {{ book.title }} - {{ book.author }} : {{ book.year }}
			 </td>
			 <td align="center">				
				<a href="{{ url_for('review', book_id=book.book_id) }}">
                   Add
                </a>
			 </td>				
            </tr>
        {% endfor %}
    </table>

{% endblock %}
