{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <h1>Book Details</h1>

    <ul>
		<li>Isbn: {{ book.isbn }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Autor: {{ book.author }}</li>
        <li>Year: {{ book.year}} </li>
    </ul>

    <h2>Reviews</h2>
    <ul>
        {% for review in reviews %}
            <li>{{ review.name }} : rate={{ review.rate}} : {{ review.review }}</li>
			
        {% else %}
            <li>No reviews.</li>
        {% endfor %}
    </ul>

{% endblock %}
