{% extends "layout.html" %}

{% block title %}
   Login
{% endblock %}

{% block body %}
    <form action="{{ url_for('login_v') }}" method="post">
	<div class="form-group">
			<input text class="form-control" name="username" placeholder="User Name">
        </div>
		<div class="form-group">
			<input type="password" class="form-control" name="psw" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Login</button>
        </div>
    </form>
{% endblock %}
