@media (min-width: 600px) {
	 body {
		 background-color: Azure;
	}
	 div[id="ifr"] {
		 height: 60vh;
	}
	 div[id="menu"] {
		 height: 45vh;
	}
}
 @media (max-width: 599px) {
	 body {
		 background-color: DarkSeaGreen;
	}
	 div[id="ifr"] {
		 height: 70vh;
	}
	 div[id="menu"] {
		 height: 55vh;
	}
}
 h1 {
	 font-size: 28px;
	 text-decoration: none;
	 background-image: none;
	 text-align: center;
	 color: Yellow;
	 padding: 0;
}
 menu {
	 float: left;
	 margin: 0 -3px 0 0;
	 width: 110px;
	 padding: 5px 5px;
}
 #menu ul {
	 margin: 15px 0 15px 0;
	 padding: 0;
	 list-style: none;
	 border: 0;
}
 #menu li {
	 text-align: center;
	 border-top: 1px solid #000;
	 border-bottom: 1px solid #000;
	 width: 100px;
	 margin: 0;
	 padding: 0;
	 font: 10px/15px "Lucida Sans Unicode", Verdana, sans-serif;
	 color: #000;
	 background: #fff;
}
 #menu li a {
	 display: block;
	 font-weight: normal;
	 padding: 0;
	 border-left: 1px solid #000;
	 border-right: 1px solid #000;
	 background: #fff;
	 color: #000;
	 text-decoration: none;
	 width: 100px;
}
 #menu li a:hover {
	 font-weight: normal;
	 background: #999;
	 color: #000;
	 text-decoration: none;
}
 