{% extends "orders/layout.html" %}
 {% block title %}
    Pinochio Pizza
  {% endblock %}
      {% block body%}
	  <div class="row">
	    <div class="col-lg-3 col-sm-6">
		{% if user.email %}		
		  <table border="0" width="330"><tr bgcolor="LightGreen">
		  {% load static %}
		    <td width="30" align= "center"><a href="/d_order"><img src="{% static "img/d_basket.png" %}"></a></td>
			<td width="310" colspan="3" align= "center" ><font color="red" size="4">Shopping card</font></b></td>
			</tr></table>
          {% for order in orders %}
              <table border="0" width="330"><tr>
				<td width="210">&nbsp;&nbsp;{{ order.name }} </td>
				{% if order.value %}	
					<td width="20"> {{ order.quantity }} x</td>
					<td width="50" align="right">{{ order.price}} =</td>
					<td width="50" align="right">{{ order.value }} </td>
				{% endif %}	
              </tr></table>
          {% endfor %}
		  {% if s %}
			<table border="0" width="330">
			 <tr>
			 	<td width="235"> &nbsp;&nbsp;  </td>
				<td width="45">Total =</td>
				<td width="50" align="right"> {{ s }}</td>
			 </tr>
			 <tr bgcolor="LightGreen">
			
				<td width="235" align="right"><a href="/place_order"><font color="blue" size="4">Place Order</font></b><img src="{% static "img/p_basket.png" %}"></a></td>			
				<td width="45"> &nbsp;&nbsp;  </td>
				<td width="50" align="right"> &nbsp;&nbsp; </td>
			{% endif %}
			 </tr>
			</table>
		  <br>
		{% endif %}
		  <table border="1" width="330"><tr bgcolor="LightGreen">
		  {% if user.email %}
		  {% load static %}
		    <td colspan="4" width="330" align= "center"><b><font color="red" size="4">Pizza</font></b><img src="{% static "img/basket.png" %}"></td></tr><tr>
		  {% else %}
			<td colspan="4" width="330" align= "center"><b><font color="red" size="4">Pizza</font></b></td></tr><tr>
		  {% endif %}
			<td width="70" align= "center">&nbsp; </td>
			<td width="120" align= "center">&nbsp; </td>
			<td width="70" align= "center">Small</td>
			<td width="70" align= "center">Large</td>
		  </tr></table>
          {% for pizza in pizzas %}
              <table border="1" width="330"><tr>
				  <td width="70"> &nbsp;&nbsp; {{ pizza.pizza_type }} </td>
				  {% if user.email %}
					<td width="120"><a href="{% url 'order_pizza' pizza.id %}">{{ pizza.name }}</a></td>
				  {% else %}
					<td width="120"> &nbsp;{{ pizza.name }} </td>
				  {% endif %}				  
				  <td width="70" align= "center">{{ pizza.price_small }} </td>
				  <td width="70" align= "center">{{ pizza.price_large }} </td>
              </tr></table>
          {% endfor %}
		  
		</div>
		<div class="col-lg-3 col-sm-6"> 
		  <table border="1" width="330"><tr bgcolor="GreenYellow">
		  <td width="300" align= "center"><b><font color="Blue" size="2">Toppings</font></b></td>
		  </tr></table>
		  {% for topping in toppings %}
              <table border="1" width="330"><tr>
                  <td width="330" align= "center">{{ topping.name }}</td>	  
			  </tr></table>
          {% endfor %}
		</div>
		<div class="col-lg-3 col-sm-6">  
		  <table border="1" width="330"><tr bgcolor="LightGreen">
		  {% if user.email %}
		  {% load static %}
			<td colspan="3 "width="330" align= "center"><b><font color="Red" size="3">Subs</font></b><img src="{% static "img/basket.png" %}"></td></tr><tr>
		  {% else %}
			<td colspan="4" width="330" align= "center"><b><font color="red" size="4">Subs</font></b></td></tr><tr>
		  {% endif %}
			<td width="200" align= "center">&nbsp;</td>
			<td width="65" align= "center">Small</td>
			<td width="65" align= "center">Large</td>
		  </tr></table>
		  {% for sub in subs %}
		    <table border="1" width="330"><tr>
			{% if user.email %}
                <td width="200"><a href="{% url 'order_sub' sub.id %}">{{ sub.name }}</a></td>
			{% else %}
				<td width="200">{{ sub.name }}</td>
			{% endif %}  
				<td width="65" align= "center">{{ sub.price_small }}</td>
				<td width="65" align= "center">{{ sub.price_large }}</td>
			</tr></table>
          {% endfor %}
		  <table border="1" width="330"><tr bgcolor="GreenYellow">
		  <td colspan="3 "width="330" align= "center"><b><font color="Blue" size="2">* Adds</font></b></td></tr><tr>
			<td width="200" align= "center">&nbsp;</td>
			<td width="65" align= "center">Small</td>
			<td width="65" align= "center">Large</td>
		  </tr></table>
		  {% for add in adds %}
			<table border="1" width="330"><tr>
                <td width="200">{{ add.name }}</td>
				<td width="65" align= "center">{{ add.price_small }}</td>
				<td width="65" align= "center">{{ add.price_large }}</td>
			</tr></table>
          {% endfor %}
		</div >
		<div class="col-lg-3 col-sm-6">
		  <table border="1" width="330"><tr bgcolor="LightGreen">
		  {% if user.email %}
		  {% load static %}
				<td colspan="3 "width="330" align= "center"><b><font color="red" size="3">Pasta</font></b><img src="{% static "img/basket.png" %}"></td></tr><tr>
		  {% else %}
			<td colspan="4" width="330" align= "center"><b><font color="red" size="4">Pasta</font></b></td></tr><tr>
		  {% endif %}
				<td width="255" align= "center">&nbsp; </td>
				<td width="75" align= "center">Price</td>
		  </tr></table>
          {% for pasta in pasta %}
		  	<table border="1" width="330"><tr>
			{% if user.email %}
                <td width="255"><a href="{% url 'order_pasta' pasta.id %}">{{ pasta.name }}</a></td>
			{% else %}
				<td width="255">{{ pasta.name }}</td>
			{% endif %}
				<td width="75" align= "center">{{ pasta.price }}</td>
			</tr></table>
          {% endfor %}
		  <table border="1" width="330"><tr bgcolor="LightGreen">
		  {% if user.email %}
		  {% load static %}
				<td colspan="2 "width="330" align= "center"><b><font color="red" size="3">Salads</font></b><img src="{% static "img/basket.png" %}"></td></tr><tr>
		  {% else %}
			<td colspan="4" width="330" align= "center"><b><font color="red" size="4">Salads</font></b></td></tr><tr>
		  {% endif %}
				<td width="255" align= "center">&nbsp; </td>
				<td width="75" align= "center">Price</td>
		  </tr></table>
          {% for salad in salads %}
		  	<table border="1" width="330"><tr>
			{% if user.email %}
                <td width="255"><a href="{% url 'order_salad' salad.id %}">{{ salad.name }}</a></td>
			{% else %}
				<td width="255">{{ salad.name }}</td>
			{% endif %}
				<td width="75" align= "center">{{ salad.price }}</td>
			</tr></table>
          {% endfor %}
			<table border="1" width="330"><tr  bgcolor="LightGreen">
			{% if user.email %}
			{% load static %}
				<td colspan="3 "width="330" align= "center">
				<b><font color="red" size="3">Dinner platters</font></b>
				<img src="{% static "img/basket.png" %}"></td></tr><tr>
		  {% else %}
			<td colspan="4" width="330" align= "center"><b><font color="red" size="4">Dinner platters</font></b></td></tr><tr>
		  {% endif %}
				<td width="180" align= "center">&nbsp; </td>
				<td width="75" align= "center">Small</td>
				<td width="75" align= "center">Large</td>
			</tr></table>
			
          {% for dinner in dinners %}
			<table border="1" width="330"><tr>
			{% if user.email %}
                <td width="180"><a href="{% url 'order_dinner' dinner.id %}">{{ dinner.name }}</a></td>
			{% else %}
				<td width="180">{{ dinner.name }}</td>
			{% endif %}
				  <td width="75" align= "center">{{ dinner.price_small }}</td>
				  <td width="75" align= "center">{{ dinner.price_large }}</td>
			</tr></table>
          {% endfor %}
		</div>
	  </div>
  {% endblock %}
  
    