{% extends "orders/layout.html" %}

{% block title %}
    Order Pizza
{% endblock %}

{% block body %}
<div id="ifr">
<form action="{% url 'order_p_v'%}" method="post">
<input type="hidden" id="pizza_id" name="pizza_id" value="{{ pizza.id }}">
	{% csrf_token %}
	<font color="red" size="4">Pizza {{ pizza.pizza_type }} {{ pizza.name }}</font><font color="blue" size="3"> Small: {{ pizza.price_small }}  Large: {{ pizza.price_large }}</font>
	{% csrf_token %}
	{% if l1 %}
		<select name="topping1" size="20">
        {% for topping1 in toppings %}
           <option value="{{ topping1.id }}">&nbsp;&nbsp;{{ topping1 }}&nbsp;</option>
        {% endfor %}
        </select>
	{% endif %}
	{% if l2 %}
		<select name="topping2" size="20">
        {% for topping2 in toppings %}
           <option value="{{ topping2.id }}">&nbsp;&nbsp;{{ topping2 }}&nbsp;</option>
        {% endfor %}
        </select>
	{% endif %}
	{% if l3 %}
		<select name="topping3" size="20">
        {% for topping3 in toppings %}
           <option value="{{ topping3.id }}">&nbsp;&nbsp;{{ topping3 }}&nbsp;</option>
        {% endfor %}
        </select>
	{% endif %}
	{% if l4 %}
	  <ul>
		<li><font color="blue" size="3">Select up to {{ nr_l }} items maximum</font></li>
		{% csrf_token %}
		{% for top in toppings %}
			<input type = "checkbox" name="{{ top.id }}" value = "1" > {{ top }}<br>
		{% endfor %}
	  </ul>
	{% endif %}
	<br><font color="blue">Size:</font>
	<select name="size" size="2">
		<option selected value="1">&nbsp;&nbsp;&nbsp;Small&nbsp;&nbsp;</option>
		<option value="2">&nbsp;&nbsp;&nbsp;Large&nbsp;&nbsp;</option>
    </select>
	<font color="blue">Quantity (between 1 and 5):</font>
	<input type="number" id="quant" name="quant" min="1" max="5" value="1">
	<br><input type="submit" value="Order" /><br><br>
</form>
</div>
{% endblock %}