{% extends "orders/layout.html" %}

{% block title %}
    Order Dinner_platters
{% endblock %}

{% block body %}
<div id="ifr">
    <form action="{% url 'order_d_v'%}" method="post">
	{% csrf_token %}
		<font color="red" size="4">Dinner {{ dinner.name }}</font><font color="blue" size="3"> Small: {{ dinner.price_small }} Large: {{ dinner.price_large }}</font>
		<hr>
		<input type="hidden" id="dinner_id" name="dinner_id" value="{{ dinner.id }}">
		<font color="blue">Size:</font>
		<select name="size" size="2">
          <option selected value="1">&nbsp;&nbsp;&nbsp;Small&nbsp;&nbsp;</option>
		  <option value="2">&nbsp;&nbsp;&nbsp;Large&nbsp;&nbsp;</option>
        </select>
		<br><br><font color="blue">Quantity (between 1 and 5):</font>
		<input type="number" id="quant" name="quant" min="1" max="5" value="1">
		<br><br><input type="submit" value="Order" /><br><br>
    </form>
{% endblock %}