{% extends "orders/layout.html" %}

{% block title %}
    Place Order
{% endblock %}

{% block body %}
       <h4>Place Order</h4>
		<table border="1" width="470"><tr><td align="center">		  
          {% for order in orders %}
			  <table border="0" width="440"><tr>
				<td width="300"> {{ order.name }} </td>
				{% if order.price %}
					<td width="20" align="center"> {{ order.quantity }} x</td>
					<td width="60" align="right">{{ order.price}} =</td>
					<td width="60" align="right">{{ order.value }} </td>
				{% else %}
					<td width="20" align="center"> &nbsp;&nbsp;</td>
					<td width="60" align="right">&nbsp;&nbsp;</td>
					<td width="60" align="right">&nbsp;&nbsp;</td>
				{% endif %}	
              </tr></table>
          {% endfor %}
		  	<table border="0" width="440">
			 <tr>
			 	<td width="320"> &nbsp;&nbsp;  </td>
				<td width="60" align="right"><font color="red">Total =</font></td>
				<td width="60" align="right"><font color="red"> {{ s }}</font></td>
			 </tr></table>
		  <hr>
		  <table border="0" width="440"><tr>
			<td width="220" align="center">
		    <form action="{% url 'place_order_v'%}" method="post">
			{% csrf_token %}
				<button class="btn btn-primary">Place Order</button>
			</form>
			</td><td width="220" align="center">
			<form action="{% url 'menu'%}" method="post">
			{% csrf_token %}
				<button class="btn btn-warning">Cancel</button>
			 </form>
			</td></tr></table>
			<hr>
		 </td></tr></table>
{% endblock %}
