{% extends "orders/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
<h1>Register</h1>

    <form action="{% url 'register_v'%}" method="post">
	{% csrf_token %}
		<div id="fr">
		<div class="form-group">
			<input text class="form-control" name="first_name" placeholder="First Name">
        </div>
		<div class="form-group">
			<input text class="form-control" name="last_name" placeholder="Last Name">
        </div>
		<div class="form-group">
			<input text class="form-control" name="username" placeholder="User Name">
        </div>
		<div class="form-group">
			<input text class="form-control" name="email" placeholder="Email">
        </div>		
		<div class="form-group">
			<input type="password" class="form-control" name="password" placeholder="Password">
        </div>
		<div class="form-group">
			<input type="password" class="form-control" name="passwd" placeholder="Retype Password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Register</button>
        </div>
		</div>
    </form>
{% endblock %}
