{% extends "layout.html" %}

{% block title %}
    Help
{% endblock %}

{% block body %}
    <h1>Weather parameters trend</h1><font color="blue">
	Within the project, a web application for displaying the trend of the weather parameters provided by several weather 
	stations was created.
	The application allows weather stations to create channels to transmit weather data in real time, and users to select 
	one of the existing channels and view the trend of the parameters provided by the weather station.
	<ul>
		<li> <b><font color="magenta">Weather Stations:</font></b> broadcast on the open channel real-time data.
		<li> <b><font color="magenta">New Weather Stations:</font></b> In order to be able to broadcast meteorological 
		data, a weather station opens a new channel
		<li> <b><font color="magenta">Users:</font></b> select one of the open channels and can view the data trend.
		<li> <b><font color="magenta">Meteorological parameters:</font></b>  
		<ul>
			The main meteorological parameters in this field are:
			<li> Air temperature
			<li> Air pressure
			<li> Wind speed and direction.
			<br> The parameter trend and instant value are displayed.
			<br>The last 250 measurements are permanently stored.
		</ul>
	</ul>
{% endblock %}