{% extends "layout.html" %}
{% block title %}
    Online messaging service
{% endblock %}
{% block body %}
<script>
document.addEventListener('DOMContentLoaded', () => {
 // Connect to websocket
 setInterval(meteo_em, 500);
 var nrv=225;
 var ht=200;
 var t_max=100;
 var p_max=150;
 var v_max=120;
 var u_max=360;
 var i=0;
 var txt = document.querySelector('#sav_t').value;
 var val_t = txt.split(",");
 var txt = document.querySelector('#sav_p').value;
 var val_p = txt.split(",");
 var txt = document.querySelector('#sav_v').value;
 var val_v = txt.split(",");
 var txt = document.querySelector('#sav_u').value;
 var val_u = txt.split(",");
 var v_t=0
 var v_p=0
 var v_v=0
 var v_u=0
 /*
 if(val_t[nrv-1].search("NaN")!=-1){
	var v_t=val_t[nrv-1];
 }
 if(val_p[nrv-1].search("NaN")!=-1){
	var v_p=val_p[nrv-1];
 }
 if(val_v[nrv-1].search("NaN")!=-1){
	var v_v=val_v[nrv-1];
 }
 if(val_u[nrv-1].search("NaN")!=-1){
	var v_u=val_u[nrv-1];
 }
 */
 var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
 // When connected
 socket.on('connect', () => {
	//socket.send(' I\'m connected');
 });
 
  function rand_val(v_v,mx){
 		f=0;
		k=Math.round(4*Math.random())
		if(k==0){
			f=2;
		}
		if(k==1){
			f=-2;
		}
		if(k==2){
			f=7;
		}
		if(k==3){
			f=-5;
		}
		vl=v_v+f;
		if(vl<0){
			vl=mx/3;
		}
		if(vl>mx){
			vl=2*mx/3;
		}
		return Math.round(vl)
 }
 function meteo_em(){
	usr=document.querySelector('#usr').value;
	chan=document.querySelector('#chan').value;
	if(usr=="t"){

		vl_t=rand_val(v_t,t_max)
		v_t=vl_t;
		vl_p=rand_val(v_p,p_max)
		v_p=vl_p;
		vl_v=rand_val(v_v,v_max)
		v_v=vl_v;
		vl_u=rand_val(v_u,u_max)
		v_u=vl_u;
		val=vl_t+","+vl_p+","+vl_v+","+vl_u+","+chan
		socket.emit('message', val );
	}
 }	
 // Message is anounced, add to the unordered list
 socket.on('message', mes => {
	chan=document.querySelector('#chan').value;
	m=""
	m=mes.toString();
	vls=m.split(",")
	document.querySelector('#tt').value=m;
	if (vls[4]==chan){
	for(i=1;i<nrv;i++){
		val_t[i-1]=val_t[i];
	}
	for(i=1;i<nrv;i++){
		val_p[i-1]=val_p[i];
	}
	for(i=1;i<nrv;i++){
		val_v[i-1]=val_v[i];
	}
	for(i=1;i<nrv;i++){
		val_u[i-1]=val_u[i];
	}
	val_t[nrv-1]=vls[0];
	val_p[nrv-1]=vls[1];
	val_v[nrv-1]=vls[2];
	val_u[nrv-1]=vls[3];
	function therm (c,x,y,w,h,vm) {
		this.cnvs = c; // canvas
    	this.x0 = x; // position x
    	this.y0 = y; // position y
		this.wd = w; // width
    	this.ht = h; // height
		this.valm = vm // maximum value
	}
	therm.prototype = {
	  constructor: therm,
	  draw:function ()  {
		this.cnvs.beginPath();
		this.cnvs.fillStyle = "#FFFFFF";
		this.cnvs.fillRect(this.x0-20,this.y0-5,this.wd+60,this.ht+10);
		this.cnvs.stroke();	
		this.cnvs.beginPath();
		this.cnvs.moveTo(this.x0,this.y0); 
		this.cnvs.strokeStyle = "rgb(255,0,0)";
		this.cnvs.lineTo(this.x0+this.wd,this.y0);
		this.cnvs.lineTo(this.x0+this.wd,this.y0+this.ht);
		this.cnvs.lineTo(this.x0,this.y0+this.ht);
		this.cnvs.lineTo(this.x0,this.y0);
		this.cnvs.stroke();
		this.cnvs.beginPath();
    	this.cnvs.strokeStyle = "rgb(0,0,150)";
		this.cnvs.font = "12px Arial";
		val_a=0;
    	for (j = this.ht; j >=0; j -= 5)
    	{
			this.cnvs.moveTo(this.x0+this.wd+2,this.y0+j); 
		if (j % 25 == 0)
		{
			this.cnvs.lineTo(this.x0 + this.wd + 12,this.y0 + j);
			this.cnvs.strokeText(val_a,this.x0 + this.wd + 20,this.y0 + j+3);
			val_a=val_a+Math.round(25*this.valm/this.ht);
       		}
        	else
			{
			this.cnvs.lineTo(this.x0 + this.wd + 7,this.y0 + j);
        	}
    	}
		this.cnvs.stroke();
	},
		set_val:function (val)  {
			this.cnvs.beginPath();
			this.cnvs.fillStyle = "#ffffff";
			this.cnvs.fillRect(this.x0+1,this.y0,this.wd-2,this.ht);
			this.cnvs.fillRect(this.x0-2,this.y0+ht+5,80,20);
			this.cnvs.stroke();
			this.cnvs.beginPath();
			this.cnvs.fillStyle = "#0000ff";
			this.cnvs.fillRect(this.x0+1,this.y0+this.ht-this.ht*val/this.valm,this.wd-2,this.ht*val/this.valm);
			this.cnvs.font = "12px Arial";
			this.cnvs.strokeText(val+" °C",this.x0,this.y0+ht+15);
			this.cnvs.stroke();
		}
	}

	function press (c,x,y,r,vm) {
		this.cnvs=c;	// canvas
		this.x1 = x;	// position x
		this.y1 = y;	// position y
		this.raza=r;	// radius
		this.vmax=vm; 	// maximum value
	}
	press.prototype = {
      constructor: press,
      draw:function ()  {
		var xm,ym,xg,yg,xt,yt;
		var lt = 15;
		var lg = 22;
		var r_text=this.raza+35;
		this.cnvs.beginPath();
		this.cnvs.lineWidth = .5;
		this.cnvs.strokeStyle = "rgb(120,120,120)";
		this.cnvs.font = "12px Arial";
		var nrd=0;
		var val_a=0;
		var alfa_r=90;		
		var alfa_gr = 270;
		while (alfa_gr >-90)
		{
			alfa_r = 2 * Math.PI * (alfa_gr) / 360;
			if (nrd % 6 == 0)
			{
				xm = this.x1 + (r_text-lt) * Math.cos(alfa_r);
				ym = this.y1 - (r_text-lt) * Math.sin(alfa_r);
				xt = this.x1-5 + r_text * Math.cos(alfa_r);
				yt = this.y1 - r_text * Math.sin(alfa_r);
				this.cnvs.strokeText(Math.floor(val_a),xt,yt);
				val_a =val_a + 18*(this.vmax/360);
			}
			else
			{
				xm = this.x1 + (r_text - lg) * Math.cos(alfa_r);
				ym = this.y1 - (r_text - lg) * Math.sin(alfa_r);
			}
			xg = this.x1 + (r_text - 2 * lt) * Math.cos(alfa_r);
			yg = this.y1 - (r_text - 2 * lt) * Math.sin(alfa_r);
			this.cnvs.moveTo(xm,ym);
			this.cnvs.lineTo(xg,yg)
			alfa_gr -= 3;
			nrd++;
		}
		this.cnvs.stroke(); 
	},
      set_val:function (v)  {
		var a1,a2;
		this.val = v;
		a1=Math.PI/2; 
		a2=Math.PI/2+2*Math.PI*this.val/this.vmax; 
		this.cnvs.beginPath();
		this.cnvs.fillStyle = "#FFFFFF";
		this.cnvs.fillRect(this.x1-40,this.y1-20,100,40);
		this.cnvs.stroke();
		this.cnvs.beginPath();
		this.cnvs.lineWidth = .5;
		this.cnvs.font = "16px Arial";
		this.cnvs.strokeText(this.val + " kPs" ,this.x1-30,this.y1);
		this.cnvs.strokeStyle = "rgb(230,230,230)";
		this.cnvs.lineWidth = 22;
		this.cnvs.arc(this.x1,this.y1,this.raza,2*Math.PI,0);
		this.cnvs.stroke();
		this.cnvs.beginPath();
		this.cnvs.lineWidth = 20;
		this.cnvs.arc(this.x1,this.y1,this.raza,a1,a2);
		this.cnvs.strokeStyle = '#ff0000';
		this.cnvs.stroke();
	  }
	}
	function wind (c,x,y,r,vm) {
		this.cnvs=c;	// canvas
		this.x1 = x;	// position x
		this.y1 = y;	// position y
		this.raza = r;	// radius
		this.vmax = vm; // maximum value
	}
	wind.prototype = {
	   constructor: wind,
       draw:function ()  {

		var xm,ym,xg,yg,xt,yt;
		var lt = 10;
		var lg = 17;
		var r_text=this.raza+20;

		var nrd=0;
		var val_a=0;
		var alfa_r=90;		
		var alfa_gr = 0;
		var crd = new Array("E","NE","N","NW","W","SW","S","SE")
		this.cnvs.beginPath();
		this.cnvs.strokeStyle = "rgb(0,0,150)";
		this.cnvs.font = "12px Arial";
		while (alfa_gr <360)
		{
		alfa_r = 2 * Math.PI * (alfa_gr) / 360;
		
		if (nrd % 9 == 0)
		{
			xm = this.x1 + (r_text-lt) * Math.cos(alfa_r);
			ym = this.y1 - (r_text-lt) * Math.sin(alfa_r);
			xt = this.x1-5 + r_text * Math.cos(alfa_r);
			yt = this.y1 - r_text * Math.sin(alfa_r);
			this.cnvs.strokeText(crd[Math.floor(nrd/9)],xt,yt);
			val_a =val_a + 18*(this.vmax/360);
		}
		else
		{
			xm = this.x1 + (r_text - lg) * Math.cos(alfa_r);
			ym = this.y1 - (r_text - lg) * Math.sin(alfa_r);
		}
		xg = this.x1 + (r_text - 2 * lt) * Math.cos(alfa_r);
		yg = this.y1 - (r_text - 2 * lt) * Math.sin(alfa_r);
		this.cnvs.moveTo(xm,ym);
		this.cnvs.lineTo(xg,yg);
		alfa_gr += 5;
		nrd++;
		}
		this.cnvs.stroke();
	},
    set_val:function (v,u)  {
		
		this.val = v;
		this.alfa_v = u 

		this.cnvs.beginPath();
		this.cnvs.fillStyle = "white";
		this.cnvs.arc(this.x1, this.y1, this.raza,0, 2*Math.PI);
		this.cnvs.fill();

		this.cnvs.beginPath();
		this.cnvs.strokeStyle = "rgb(200,200,200)";
		this.cnvs.lineWidth = 1;
		this.cnvs.moveTo(this.x1,this.y1);
		rx=this.raza
		while (rx > 0 )
		{
			this.cnvs.arc(this.x1,this.y1,rx,0,2*Math.PI);
			rx-=36;
		}

		alfa_gr=18
		while (alfa_gr < 360)
		{
				alfa_r = 2 * Math.PI * (alfa_gr) / 360
				xg = this.x1 + this.raza * Math.cos(alfa_r);
				yg = this.y1 - this.raza * Math.sin(alfa_r);
				this.cnvs.moveTo(this.x1,this.y1);
				this.cnvs.lineTo(xg,yg);
				alfa_gr=alfa_gr+18
		}

		alfa_vi=this.alfa_v-10
		alfa_vf=this.alfa_v+10
		for(i=1;i<5;i++)
		{
				alfa_r = (2 * Math.PI * alfa_vi) / 360
				xg = this.x1 + this.raza * Math.cos(alfa_r);
				yg = this.y1 - this.raza * Math.sin(alfa_r);
				this.cnvs.moveTo(this.x1,this.y1);
				this.cnvs.lineTo(xg,yg);
				alfa_vi=alfa_vi+3
		}
		this.cnvs.stroke();
		this.cnvs.beginPath();
		this.cnvs.strokeStyle = '#ff0000';
		alfa_vi=this.alfa_v-10
		alfa_vf=this.alfa_v+10
		rz=this.raza*v/this.vmax
		for(i=1;i<5;i++)
		{
				alfa_r = 2 * Math.PI * alfa_vi / 360
				xg = this.x1 + rz * Math.cos(alfa_r);
				yg = this.y1 - rz * Math.sin(alfa_r);
				this.cnvs.moveTo(this.x1,this.y1);
				this.cnvs.lineTo(xg,yg);
				alfa_vi=alfa_vi+3
		}
		this.cnvs.stroke();
		this.cnvs.beginPath();
		this.cnvs.fillStyle = "#FFFFFF";
		this.cnvs.fillRect(this.x1-this.raza-25,this.y1-this.raza-40,90,40);
		this.cnvs.stroke();
		this.cnvs.beginPath();
		this.cnvs.lineWidth = 1;
		this.cnvs.strokeStyle = '#ff0000';
		this.cnvs.font = "14px Arial";
		this.cnvs.strokeText("V="+this.val+" Km/h",this.x1 - this.raza-25,this.y1 - this.raza-25);
		this.cnvs.strokeText("U="+this.alfa_v+" °",this.x1 - this.raza-25,this.y1 - this.raza-10);
		this.cnvs.stroke();
      }
	}

	function trend_xt(c, pozx, pozy, n_maxx, n_maxy, v_max)
	{
		this.cnvs = c; // canvas
		this.x0 = pozx; // position pe x
		this.y0 = pozy; // position pe y
		this.w = n_maxx; // width
		this.h = n_maxy; // height
		this.nr_max = n_maxx; // number of points
		this.val_max = v_max; // maximum value
	}
	trend_xt.prototype = {
	  constructor: trend_xt,
	  draw:function (vls, nv)  {
		var val_v, val ,i ,j;
		this.cnvs.beginPath();
		this.cnvs.fillStyle = "#FFFFFF";
		this.cnvs.fillRect(this.x0-30,this.y0-10,this.x0+this.w,this.y0+this.h+30);
		this.cnvs.stroke();	
		this.cnvs.beginPath();
		this.cnvs.moveTo(this.x0,this.y0); 
		this.cnvs.strokeStyle = "rgb(0,0,255)";
		this.cnvs.lineTo(this.x0+this.w,this.y0);
		this.cnvs.lineTo(this.x0+this.w,this.y0+this.h);
		this.cnvs.lineTo(this.x0,this.y0+this.h);
		this.cnvs.lineTo(this.x0,this.y0);
		this.cnvs.stroke();
    	val_v = vls[1] * this.h / this.val_max;
		this.cnvs.beginPath();
    	this.cnvs.strokeStyle = "rgb(200,200,200)";
		this.cnvs.font = "10px Arial";
		for (j = this.h-10; j >=0; j -= 10)
		{
			this.cnvs.moveTo(this.x0,this.y0+j); 
			this.cnvs.lineTo(this.x0 + this.w, this.y0 + j);
    	}

		for (j = 10; j<=this.w-10; j += 10)
    	{
			this.cnvs.moveTo(this.x0+j,this.y0+1); 
			this.cnvs.lineTo(this.x0 + j ,this.y0+ this.h+1);
    	}
		this.cnvs.stroke();

		this.cnvs.beginPath();
    	this.cnvs.strokeStyle = "rgb(150,150,150)";
    	for (j = 0; j <=this.h; j += 50)
    	{
			this.cnvs.moveTo(this.x0,this.y0+j); 
			this.cnvs.lineTo(this.x0 + this.w ,this.y0 + j);
			this.cnvs.strokeText(Math.round(this.val_max*j/this.h),this.x0-20,this.y0+this.h - j);
		}

    	for (j = 0; j<=this.w; j += 50)
    	{
			this.cnvs.moveTo(this.x0+j,this.y0); 
			this.cnvs.lineTo(this.x0 + j ,this.y0+ this.h-1);	
			this.cnvs.strokeText(j,this.x0 + j,this.y0 + this.h+10);
		}
		this.cnvs.stroke();
		this.cnvs.beginPath();
		this.cnvs.strokeStyle = "rgb(240,0,0)";
		this.cnvs.moveTo(this.x0,this.y0+val_v); 
		for (i = 0; i<=nrv; i +=1){
			val = vls[i] * this.h / this.val_max; //scalare
			this.cnvs.lineTo(this.x0 + i ,this.y0+ this.h-val);
		}
		this.cnvs.stroke();
	  }
	}
	var ctx4=document.querySelector('#canvas').getContext("2d");
	ctx4.lineWidth = .5;
	trend_t = new trend_xt(ctx4,50,15,nrv,ht,t_max);
	trend_p = new trend_xt(ctx4,50,235,nrv,ht,p_max);
	trend_w = new trend_xt(ctx4,50,455,nrv,ht/2,v_max);
	trend_u = new trend_xt(ctx4,50,575,nrv,ht/2,u_max);
	
	display_t = new therm(ctx4,410,15,20,ht,t_max);
	display_p = new press(ctx4,420,350,ht/3,p_max);
	display_w = new wind(ctx4,420,580,2*ht/5,v_max);

	trend_t.draw(val_t,nrv);
	trend_p.draw(val_p,nrv);
	trend_w.draw(val_v,nrv);
	trend_u.draw(val_u,nrv);
	
	display_t.draw();
	display_p.draw();
	display_w.draw();
	
	display_t.set_val(vls[0]);
	display_p.set_val(vls[1]);
	display_w.set_val(vls[2],vls[3]);
 }});
});
	</script>
	<div id="fr">
		<div id="ifr">
			<canvas id="canvas" width="550" height="685" style="background-color:#ffffff;border:1px solid #c3c3c3; ">
				Your browser does not support the HTML5 canvas tag.
			</canvas>
			<div id="hmi">
			</div>
			<input type="text" id="tt" size="69" value="">
		</div>
			<input type="hidden" id="usr" value="{{name}}">
			<input type="hidden" id="chan" value="{{chan}}">
			<input type="hidden" id="sav_t" value="{{sav_t}}">
			<input type="hidden" id="sav_p" value="{{sav_p}}">
			<input type="hidden" id="sav_v" value="{{sav_v}}">
			<input type="hidden" id="sav_u" value="{{sav_u}}">
		</div>
	</div>
{% endblock %}
