 #r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12 {
	 position: relative;
	 left: 1px;
	 width: 240px;
	 padding: 0px;
	 background-color: greenyellow;
	 border: 1px dashed #999;
}
 #r1 {
	 width: 120px;
	 top: 10px;
}
 #r2 {
	 top: 30px;
}
 #r3 {
	 top: 50px;
}
 #r4 {
	 top: 70px;
}
 #r5 {
	 width: 120px;
	 top: 10px;
}
 #r6 {
	 top: 30px;
}
 #r7 {
	 top: 50px;
}
 #r8 {
	 top: 10px;
}
 #r9 {
	 top: 30px;
}
 #r10 {
	 top: 50px;
}
 #r11 {
	 width: 120px;
	 top: 10px;
}
 #r12 {
	 top: 30px;
}
 