    %r {
		position:relative;
		left:1px;
		width:240px;
		padding:0px;
		background-color: greenyellow;
		border:1px dashed #999;
    }
    #r1 {
        @extend %r;
        width:120px;
        top:10px;
    }

    #r2 {
        @extend %r;
        top:30px;
    }

    #r3 {
        @extend %r;
        top:50px;
    }
        #r4 {
        @extend %r;
        top:70px;
    }
    
    #r5 {
        @extend %r;
        width:120px;
        top:10px;
    }

    #r6 {
        @extend %r;
        top:30px;
    }

    #r7 {
        @extend %r;
        top:50px;
    }
    #r8 {
        @extend %r;
        top:10px;
    }
    #r9 {
        @extend %r;
        top:30px;
    }
    #r10 {
        @extend %r;
        top:50px;
    }

    #r11 {
        @extend %r;
        width:120px;
        top:10px;
    }

    #r12 {
        @extend %r;
        top:30px;
    }
 
